$neutral-00: #FFFFFF;
$neutral-10: #F5F5F5;
$neutral-20: #EEEEEE;
$neutral-30: #E0E0E0;
$neutral-40: #BDBDBD;
$neutral-50: #9E9E9E;
$neutral-60: #757575;
$neutral-70: #616161;
$neutral-80: #424242;
$neutral-90: #212121;


