@import "src/app/styles/index";

.header {
  height: $header-height;
  width: 100%;
  background-color: transparent;

  &__navigation {
    margin: 0 auto;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__element {
      color: $neutral-40;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 24px;
      height: 100%;
      width: fit-content;
      font-weight: bold;
      transition: color 0.3s ease-in-out;

      &:after {
        content: '';
        height: 2px;
        width: 0;
        background: $neutral-00;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: width 0.3s ease-in-out;
        margin: auto;
      }

      &:hover {
        color: $neutral-00;

        &:after {
          width: 100%;
        }
      }
    }
  }
}
