<div class="splashStage">
  <div class="splashStage__content">

    <div class="splashStage__content__heading">
      <h1 class="splashStage__content__heading__title">Learning to code is learning to create and innovate.</h1>
      <h3 class="splashStage__content__heading__subtitle">Learn coding, improve your skills and start to be a professional web
        developer.</h3>
    </div>

    <div class="splashStage__content__imageContainer">
      <img class="splashStage__content__imageContainer__image"
           src="../../../../assets/images/skill.svg"
           alt="teaser"
      >
    </div>
  </div>
</div>

